---
version: "2"
services:
  jackett:
    image: linuxserver/jackett
    container_name: jackett
    volumes:
      - ${CONFIG_DIR}/radarr/:/config
      - ${CONTENT_DIR}:/downloads
    ports:
      - 9117:9117
    restart: unless-stopped
    
  transmission:
    image: linuxserver/transmission
    container_name: transmission
    volumes:
      - ${CONFIG_DIR}/transmission:/config
      - ${CONTENT_DIR}:/downloads
      - ${CONTENT_DIR}/watch-torrents:/watch
    ports:
      - 9091:9091
      - 51413:51413
      - 51413:51413/udp
    restart: unless-stopped
    
  radarr:
    image: linuxserver/radarr
    container_name: radarr
    volumes:
      - ${CONFIG_DIR}/radarr:/config
      - ${CONTENT_DIR}/movies:/movies
      - ${CONTENT_DIR}:/downloads
    ports:
      - 7878:7878
    restart: unless-stopped

  sonarr:
    image: linuxserver/sonarr
    container_name: sonarr
    volumes:
      - ${CONFIG_DIR}/sonarr:/config
      - ${CONTENT_DIR}/tvseries:/tv
      - ${CONTENT_DIR}:/downloads
    ports:
      - 8989:8989
    restart: unless-stopped
